{% extends "account.html" %}

{% block main %}
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-lg-6 rounded-5 bg-warning-subtle shadow py-4 px-2">
                <form  method="post"> {% csrf_token %}
                    <p class="lead">شماره امتحان: {{ exam_id }}</p>
                    <p class="lead">شماره دانش آموز: {{ student_id }}</p>
                    <label class="form-label">نمره: </label>
                    <input type="text" name="score" class="form-control" value="{{ last_score }}"><br>
                    <center><button type="submit" class="btn btn-success w-75">ثبت</button></center>
                </form>
            </div>
        </div>
    </div>
{% endblock %}