{% extends "account.html" %}

{% block main %}
    {% load custom_tags%}
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-lg-5 bg-danger-subtle shadow rounded-5 p-4  mx-auto my-5">
                <label>دانش آموز: {{ fullname }}</label>
                <form action="" method="post"> {% csrf_token %}
                    <label class="form-label">نمره: </label>
                    <input type="text" name="score" class="form-control" value="{{ last_score }}">
                    <label class="form-label">موضوع: </label>
                    <select name="title" class="form-control">
                        <option value="semester1 mostamar">ترم اول تکوینی</option>
                        <option value="semester1">ترم اول نوبت</option>
                        <option value="semester1 exam">ترم اول پایانی</option>
                        <option value="semester2 mostamar">ترم دوم تکوینی </option>
                        <option value="semester2">ترم دوم نوبت</option>
                        <option value="semester2 exam">ترم دوم پایانی</option>
                    </select>
                    <center><button type="submit" class="btn btn-success w-75 mt-3">ثبت</button></center>
                </form>
            </div>
        </div>
        <div class="row">
            <h3>نمرات پیشین</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>شماره ثبت</th>
                            <th>موضوع</th>
                            <th>نمره</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for score in related_scores %}
                            <tr>
                                <td>{{ score.id }}</td>
                                <td>{{ score.title|convert_to_persian }}</td>
                                <td>{{ score.score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <p>برای تغییر می‌توانید آن را دوباره ثبت کنید.</p>
    </div>
{% endblock %}