{% extends 'account.html' %}

{% block main %}
<style>
    textarea {
        height: 400px;
    }
</style>
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <center><button type="submit" class="btn btn-primary w-75">ثبت</button></center>
                </form>
            </div>
        </div>
    </div>
{% endblock %}