{% extends 'account.html' %}

{% block main %}
    <div class="container-lg">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-2">
                <a href="/static/{{ file }}" class="btn btn-lg btn-warning bi bi-download">دانلود</a>
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-lg-5">
                <div class="table-responsive">
                    {{ score_html|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}