{% extends 'base.html' %}

{% block content %}
    <section id="main">
        <div class="container-md bg-light p-5 shadow rounded-3">
            <div class="row">
                <div class="col-md-6">
                    <h2>مدرسه شهدای فرهنگی</h2>
                    <p class="lead">مدرسه شهدای فرهنگی یکی از برترین مدارس منطقه است که به دانش آموزانی که به دنبال یادگیری عمیق و بیشتری در زمینه های علمی، فرهنگی و هنری هستند، ارائه خدمات می دهد. این مدرسه با داشتن کادر مجرب و متخصص، امکانات بروز و تکنولوژی های پیشرفته، به دانش آموزانشان این فرصت را می دهد تا بهترین آموزش ها را در موضوعات مختلفی همچون ریاضی، علوم، زبان، تاریخ و فرهنگ و هنر ببینند. مدرسه شهدای فرهنگی، با برنامه های آموزشی متنوع خود به دانش آموزان این فرصت را می دهد تا ذهنشان را در زمینه های مختلف گسترش دهند و از تمامی منابع موجود برای یادگیری استفاده کنند. این مدرسه با محیطی دوستانه و حمایت کامل از دانش آموزانش، به دانش آموزان این امکان را می دهد تا خود را در مسیری که می خواهند حرکت دهند و بهترین نتیجه را در یادگیری ببینند. در کل، مدرسه شهدای فرهنگی یک محیط آموزشی بسیار موفق و متنوع است که به دانش آموزانش امکانات لازم را برای رسیدن به هدف هایشان می دهد و برای هر کسی که به دنبال یادگیری و پیشرفت است، بهترین گزینه است.</p>
                </div>
                <div class="col-md-5">
                    {% load static %}
                    <img src="{% static 'assets/school.jpg' %}" alt="img" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
{% endblock %}