{% extends 'base.html' %}

{% block content %}
    <section id="main">
        <div class="container-md bg-light p-5 shadow rounded-3">
            <div class="row">
                <h4 class="text-center">نشانی: </h4>
                <p class="text-center lead">تهران,منطقه ۷،خیابان بهار شمالی، روبروی بیمارستان سجاد، کوچه بهشت، پلاک 4</p>
            </div>
            <div class="row justify-content-center">
                <a class="text-decoration-none text-dark text-center" href="tel:+982188343939"><i class="bi bi-telephone-fill text-warning p-2"></i>021-88343939</a>
                <a  class="text-decoration-none text-dark text-center" href="mailto:sh.tahmasebi.sch@gmail.com"><i class="bi bi-envelope-fill text-warning p-2"></i>sh.tahmasebi.sch@gmail.com</a>
            </div>
            <div class="row justify-content-center">
                <h4 class="text-center mt-5">ارسال تیکت</h4>
                <div class="col-6">
                    <form action="" method="post">
                        <label for="email" class="form-label">پست الکترونیکی: </label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="email">
                            <span class="bi bi-envelope-fill input-group-text"></span>
                        </div>
                        <div class="form-floating">
                            <textarea name="content" cols="30" rows="10" style="height: 200px;" class="form-control my-4"></textarea>
                            <label class="form-label">متن</label>
                        </div>
                        <button type="submit" class="btn btn w-100 btn-outline-success my-3">ثبت</button>         
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}